@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* index.css */

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Noto Sans Lao";
  src: url("/fonts/NotoSansLao-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-family: "Inter", "Noto Sans Lao", system-ui, sans-serif;
}